description = "Navigation bar"
==

<ul class="nav nav-inline alt-navbar">
    <li class="nav-item"><a href="{{ 'accueil' | page }}" class="nav-link">{{ 'Accueil' |_ }}</a></li>
    <li class="nav-item"><a href="{{ 'photos' | page }}" class="nav-link">{{ 'Photos et vidéos' |_ }}</a></li>
    <li class="nav-item"><a href="{{ 'championnats' | page }}" class="nav-link">{{ 'Championnats' |_ }} du monde</a></li>
    <li class="nav-item"><a href="{{ 'contact' | page }}" class="nav-link">{{ 'Contact' |_ }}</a></li>
</ul>