description = "Navigation bar"
==

<ul class="nav nav-inline main-navbar">
    <li class="nav-item"><a href="{{ 'biographie' | page }}" class="nav-link">Catherine</a></li>
    <li class="nav-item"><a href="{{ 'club' | page }}" class="nav-link">Club IAC</a></li>
    <li class="nav-item"><a href="{{ 'courses' | page }}" class="nav-link">Courses</a></li>
    <li class="nav-item"><a href="{{ 'partenaires' | page }}" class="nav-link">Partenaires</a></li>
    <li class="nav-item"><a href="{{ 'resultats' | page}}" class="nav-link">Résultats</a></li>
    <li class="nav-item"><a href="{{ 'presse' | page }}" class="nav-link">Salle de presse</a></li>
</ul>