<h2>Biographie</h2>

<ul>
    <li>Date de naissance : 16 septembre 1986</li>
    <li>Lieu de naissance : Isle-aux-Coudres, Québec, Canada</li>
    <li>Disciplines préférées: Course de vitesse (sur l'eau et la neige) et Kite-SURF</li>
    <li>Début en kitesurf : 2009</li>
    <li>
        Sports favoris:
        <ul>
            <li>KiteSurf : Squamish, Cabarete, Sandbanks, Isle-aux-Coudres</li>
            <li>Snowkite : Charlevoix</li>
        </ul>
    </li>
</ul>

<h2>Passion et projets</h2>

<p>
    L'adrénaline, le privilège de visiter des endroits inaccessibles, les rencontres avec des gens différents, la volonté de me dépasser sont les raisons pourquoi le kitesurf est ma passion. J'ai toujours été passionnée par mon sport et depuis qu'il fait partie de ma vie, celle-ci a changé pour le mieux. Je peux honnêtement et humblement dire que maintenant je consacre mon temps sur ce qui compte vraiment pour moi: aider à développer le plus beau sport jamais inventé et éventuellement représenter le Canada, chez nous et à l'étranger en performant au maximum. Je mettrai toute mon énergie à devenir meilleur et à être une ambassadrice pour le Canada et pour la voile.
</p>

<h2>Patelin</h2>

<p>
    L'Isle-aux-Coudres, là où j'ai appris à faire du kitesurfing ! Il s'agit d'un endroit où les conditions de vent sont remarquables ! Vous n'aurez jamais gouté à un vent aussi stable. En 2010, le projet Isle-aux-Coudres Kitesurf est né. Il s'agit d'une organisation à but non lucratif qui a comme mission de promouvoir l'Isle-aux-Coudres en tant que «Destination Kitesurf». À court terme, notre principal objectif est de transmettre notre passion pour le kitesurf ! ......
</p>