<h2>Club de Kitesurf de l'Isle-aux-Coudres</h2>

<p>
    Isle-aux-Coudres Kitesurf c'est une organisation à but non lucratif qui à été mise sur pied par 6 passionnés de kitesurf et originaire de l'Isle-aux-Coudres, Charlevoix : Pascal Dufour, Catherine Dufour, Jean Normand, Ludovic Gervais, Yann Normand et Dan Dufour.
</p>

<h3>Notre mission</h3>
<p>
    Promouvoir l'Isle-aux-Coudres en tant que «Destination Kitesurf».
</p>


<h3>Nos objectifs</h3>
<p>À court terme, transmettre notre passion pour le kitesurf !</p>
<p>
    À moyen terme, nous voulons également offrir à notre clientèle d'adeptes des services ainsi que des infrastructures uniques sur les nombreux sites de kitesurf situés sur notre île.
</p>

<p>
    <a href="https://www.facebook.com/pages/isle-aux-coudres-kitesurf/254559287903611">Page Facebook - Isle-aux-Coudres Kitesurf</a>
</p>

<p>
    <a href="http://www.windmeteo.com/">www.windmeteo.com</a> pour consulter les conditions de vent via nos anémomètres.
</p>

<h2>Pourquoi le Kitesurf à l'Isle-aux-Courdres ?</h2>
<p>
    Les emplacements à l'Isle-aux-Courdres sont d'une qualité exceptionnelle, la qualité de vent l'est tout autant. Les vents sud-ouest sont stables et produisent en général 10 noeuds de plus qu'à Québec. Le sud-ouest est probablement à son meilleur sur les battures de l'île. L'endroit le plus propice pour la pratique du Kitesurf est du côté sud-ouest ou sud, près d'un gros rocher que l'on nomme le pilier. Lorsque la marée est basse des dizaines de kilomètres de battures de sable se découvrent et livrent un terrain de jeux tout à fait exceptionnel et un flat water unique dans la région. Aussi, le vent nord-est apporte de grosses vagues.
</p>